{% extends 'base.html.twig' %}

{% block title %}Gestion catégorie{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <ul class="demo-btns pull-left">
                <li>
                    <h1>
                        <i class="fa fa-tags fa-2x" style="color: #DA8028"></i>
                        Liste des catégories</h1>
                </li>
                &nbsp;&nbsp;
                <li>
                    <a class="btn btn-primary btn-circle btn-sm" data-target="#modal_add_category" data-toggle="modal" href="#" title="Ajoute interlocuteur">
                        <i class="glyphicon glyphicon-plus"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- widget grid -->
    <section class="" id="widget-grid">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget jarviswidget-color-darken" data-widget-editbutton="false" id="wid-id-0">
                    <header>
                        <div class="widget-toolbar" role="menu">
                        </div>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox"></div>
                        <div class="widget-body no-padding">
                            <div style="overflow-x:auto;">
                                <table class="table table-striped table-bordered table-hover" id="dt_basic" width="100%">
                                    <thead>
                                        <tr style="background: #2D6E9D ; color: #fff; ">
                                            <th>Actions</th>
                                            <th>Id</th>
                                            <th>Libelle</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for category in categories %}
                                            <tr>
                                                <td class="text-align-center" style='width: 8%;'>
                                                    <button class=" btn btn-danger btn-xs glyphicon glyphicon-trash deletecategory" data-id="{{ category.id }}"></button>
                                                </td>
                                                <td class="" data-field="id" attrcomp=""  data-id="{{ category.id }}">{{ category.id }}</td>
                                                <td class="editrow" data-field="libelle" attrcomp="text"  data-id="{{ category.id }}">{{ category.libelle }}</td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td colspan="5">no records found</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>


    <!-- Modal add category -->
    <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="modal_add_category" role="dialog" tabindex="-1">
        <div
            class="modal-dialog modal-dialog-centered ">
            <div class="modal-content">
                <div class="modal-header" style="background-color: whitesmoke;">
                    <button class="close " data-dismiss="modal" style="color: red;" type="button">&times;</button>
                    <h5 class="modal-title" id="exampleModalLabel">
                        <i class="fa fa-lg fa-tags" style="color:#89AD45"></i>
                        Ajouter categorie</h5>
                </div>
                <div class="modal-body">
                    <div class="widget-body no-padding">
                        <fieldset>
                            {{ form_start(form,{attr: {class: 'smart-form client-form', id:'order-form' }}) }}
                            <section class="col col-6">
                                <label class="input">
                                    <i class="icon-append fa fa-tags"></i>
                                    {{ form_row(form.libelle ,{'attr':{'placeholder':'Titre'} } ) }}
                                </label>
                            </section>
                        </fieldset>
                    </div>
                </div>
                <div class="modal-footer" style="background-color: whitesmoke;">
                    <button class="btn btn-danger" data-dismiss="modal" type="button">
                        <i class="fa fa-lg fa-close"></i>
                        Fermer
                    </button>
                    <button class="btn btn-success" id="savecategory" type="button">
                        <i class="fa fa-lg fa-save"></i>
                        Sauvegarder
                    </button>
                </div>
                {{ form_end(form) }}
            </div>

        </div>
    </div>


{% endblock %}
